{% include 'standard.html' %}
</head>
    <body class="bg">
        {% include 'navbar.html' %}
    
    
    </br>
    <div class="content">
        <div class="container">
            <h2>System Info</h2>
            <div class="row align-items-start">
                <table class="table table-dark table-stiped table-hover">
                    <tr>
                        <th>systemtime</th>
                        <td id="systemtime"></td>
                    </tr>
                    <tr>
                        <th>Hostname</th>
                        <td id="name"></td>
                        <th>Docker Version</th>
                        <td id="serverversion"></td>
                    </tr>
                    <tr>
                        <th>Swarm state</th>
                        <td id="swarmstate"></td>
                        <th>Total Memory</th>
                        <td id="memtotal">  </td>
                    </tr>
                    <tr>
                        <th>Operating System</th>
                        <td id="operatingsystem"></td>
                        <th>Driver Status</th>
                        <td id="driverstatus"></td>
                    </tr>                
                </table>
                <table class="table table-dark table-stiped table-hover">
                    <tr>
                        <th>Alerts</th>
                        <td id="warnings"></td>
                    </tr>       
                </table>
            </div>
        </div>
    </div>
    </br>
    
      

        <!-- Loading script below: -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/static/js/dashboard.js"></script> 
    </body>
</html>