{% include 'standard.html' %}
    <script src="/static/dropzone/dropzone.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/dropzone/dropzone.css">
</head>
    <body class="bg">
        {% include 'navbar.html' %}
        </div>
        <div class="pb-3" role="main">
            <h1class="display-4">Welcome!</h1>
        </div>
        
       
        <a href="/dockerdata" class="btn btn-primary btn-block" role="button" aria-pressed="true">Docker data</a>
        <br />
    </body>
</html>